cloudinary==1.42.0
fastapi==0.115.6
inflection==0.5.1
psycopg2-binary==2.9.9
pydantic==2.10.4
pydantic_settings==2.7.1
PyJWT==2.10.1
pymongo==4.10.1
pyotp==2.9.0
python-dotenv==1.0.1
python_bcrypt==0.3.2
typing_extensions==4.12.2
uvicorn==0.34.0
python-multipart==0.0.14